/* overall container */
.ReviewsFooter {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
}

.ReviewsFooter h2 {
    padding-left: 20px;
    color: #4b4b4b;
    font-size: 0.875rem;
}

.ReviewsFooter li {
    font-size: 13px;
}

/* inner container */
.FirstSection {
    
}

.MorePopular {
    display: flex;
    padding: 20px;
}

.Top_Rated li {
    padding: 20px;
}

@media only screen and (max-width: 900px) {

  .FirstSection, .FirstMorePopular, .MorePopular, .SecondMorePopular, .ReviewsFooter {
    flex-wrap: wrap;
   }

}

@media only screen and (max-width: 536px) {

    .SecondMorePopular {
        padding-top: 20px;
    }

}
